## 1. Write a program to accept Percentage from the user and display the grade acc. to the following criteria
 ### Marks : > 90 then grade: A
 ###         > 80 and <= 90  then grade: B
 ###        >= 60 and <= 80 then garde: C
 ###        below 60  then grade: D

In [3]:
P = int(input('Enter your percentage '))
if P > 90:
    print("Your garde is A")
elif P > 80 and P <=90:
    print("Your garde is B")
elif P >=60 and P <= 80:
    print("Your garde is C")
else:
    print("Your garde is D")

Enter your percentage  92

Your garde is A

## 2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria: 
#### Tax 15% Cost Price(in Rs) >100000
#### Tax 10% Cost Price(in Rs) >50000 and <= 100000
#### Tax 5% Cost Price(in Rs) <= 50000

In [6]:
c = int(input("Enter the Price of Bike: "))
if c > 100000:
    print("Your tax to be paid is Rs."+str(c*0.15))
elif c > 50000 and c <= 100000:
    print("Your tax to be paid is Rs."+str(c*0.10))
else:
    print("Your tax to be paid is Rs."+str(c*0.05))

Enter the Price of Bike:  50000

Your tax to be paid is Rs.2500.0

## 3. Accept any city from the user and display monuments of that city. 
#### City   ------       Monuments
#### Delhi  ----->        Redfort
#### Agra   ----->        Tajmahal
#### Jaipur ----->        Jalmahal

In [8]:
City_name = input('Enter the city name :')
if City_name.upper() == "DELHI":
    print("Redfort")
elif City_name.upper() == "AGRA":
    print("Tajmahal")
elif City_name.upper() == "JAIPUR":
    print("Jalmahal")
else:
    print("Please enter a valid city")

Enter the city name : delhi

Redfort

## 4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [ ]:
n = int(input('Enter a number'))
count = 0
while(count <=10):
    if n // 3 == 0:
        count = count + 1
    else:
        continue
print(count)

Enter a number 34

## 5. Why and When to Use while Loop in Python give a detailed description with example

#### while loop is used to check condition first and then iterate.It is used to execute a block of statements repeatedly until a given condition is satisfied. And when the condition becomes false, the line immediately after the loop in the program is executed.

In [12]:
i = 1
while(i <= 10):
    print(f"2 * {i} ="+str(2*i))
    i = i + 1

2 * 1 =2
2 * 2 =4
2 * 3 =6
2 * 4 =8
2 * 5 =10
2 * 6 =12
2 * 7 =14
2 * 8 =16
2 * 9 =18
2 * 10 =20

## 6. Use nested while loop to print 3 different pattern.

In [9]:
n = int(input("Enter a number of rows :"))
row = 0
while(row < n):
    star = 0
    while(star < n):
        print("*",end = " ")
        star = star + 1
    row = row + 1
    print()

Enter a number of rows : 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [6]:
n = int(input("Enter a number of rows :"))
row = 0
while(row < n):
    star = row + 1
    while(star > 0):
        print("*",end = " ")
        star = star - 1
    row = row + 1
    print()

Enter a number of rows : 5

*
* *
* * *
* * * *
* * * * *

In [5]:
n = int(input("Enter a number of rows :"))
row = n
while(row > 0):
    star = row 
    while(star > 0):
        print("*",end = " ")
        star = star - 1
    row = row - 1
    print()

Enter a number of rows : 4

* * * *
* * *
* *
*

## 7. Reverse a while loop to display numbers from 10 to 1.

In [1]:
i = 10
while(i > 0):
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

## 8. Reverse a while loop to display numbers from 10 to 1.

In [2]:
i = 10
while(i > 0):
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1