## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [7]:
import pandas as pd
print(pd.Series([4,8,15,16,23,42]))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
a = [12,34,5,67,87,94,24,14,54,43]
print(pd.Series(a))

0    12
1    34
2     5
3    67
4    87
5    94
6    24
7    14
8    54
9    43
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:
### Name: Alice Bob Claire
### Age: 25 30 27
### Gender: Female Male Female
## Then, print the DataFrame.

In [10]:
data = {'Name' : ['Alice', 'Bob', 'Claire'],
       'Age' : [25,30,27],
       'Gender' : ['Female', 'Male', 'Female']}
print(pd.DataFrame(data, index = [1,2,3]))

     Name  Age  Gender
1   Alice   25  Female
2     Bob   30    Male
3  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

### DataFrame is a 2-D size-mutable tabular structure with columns and rows while Series is 1-D size array.

In [23]:
print(pd.Series([23,21,34,35,2,47,98]))

0    23
1    21
2    34
3    35
4     2
5    47
6    98
dtype: int64

In [24]:
print(pd.DataFrame({"student" : ['Aman','Vikas','Deepanshu'],
          'Marks' :[67,54,78],
          'Age' :[21,22,21]}))

     student  Marks  Age
0       Aman     67   21
1      Vikas     54   22
2  Deepanshu     78   21

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

### 1. head  2. tail  3. Shape  4. Info  5. Describe

In [27]:
df = pd.DataFrame({"student" : ['Aman','Vikas','Deepanshu'],
          'Marks' :[67,54,78],
          'Age' :[21,22,21]})
df.info

<bound method DataFrame.info of      student  Marks  Age
0       Aman     67   21
1      Vikas     54   22
2  Deepanshu     78   21>

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

### Series: immutable
### DataFrames: mutable
### Panel: mutable

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [19]:
Name = pd.Series(['Yudhishthir','Arjun','Bheem','Nakul','Sahadev',])
GodFather = pd.Series(['Dharma Dev','Indra Dev','Vayu Dev','Ashvini Kumar','Ashvini Kumar'])
Skills  = pd.Series(['Morality','Archery', 'Physical Strength','Swordsmanship','Intelligence'])
frame = {'Name': Name, 'GodFather' : GodFather, 'Skills': Skills}
pd.DataFrame(frame)

          Name      GodFather             Skills
0  Yudhishthir     Dharma Dev           Morality
1        Arjun      Indra Dev            Archery
2        Bheem       Vayu Dev  Physical Strength
3        Nakul  Ashvini Kumar      Swordsmanship
4      Sahadev  Ashvini Kumar       Intelligence